@model IEnumerable<WebApplication1.Models.VerificationAppointment>

@{
    ViewData["Title"] = "Verification Pending List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>RequestId</th>
            <th>Appointment Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.RequestId</td>
                <td>@request.VerificationDate</td>
                <td>@request.Verified</td>
                <td>
                    <!-- Verify button that redirects to the Verify action -->
                    <a href="@Url.Action("ApproveVerification", "Admin", new { id = @request.VerificationId })" class="btn btn-primary">Verify</a>
                </td>
            </tr>
        }
    </tbody>
</table>
